.logo {
  padding-left: 30px;
  height: 130px;
}

/* makes flexbox in header */
.header {
  display: flex;
}

/* The navigation bar */
.navbar {
  background-color: transparent;
  width: 100%; /* Full width */
  display: flex;
  align-items: flex-end;
}

/* Link boxes inside the navbar */
.navbar a {
    color: black;
    text-decoration: None;
    font-weight: bold;
    font-size: 35px;
    font-family: "Kalam";
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 16px;
}

.navbar a:hover:after,
.navbar a:focus:after {
  transform: scaleX(1);
}

.navbar a:after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  height: 3px;
  box-shadow: 0 0 10px 2px gold;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
